@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

body {
  background-color: #f4f4f4;
}

.bg-image {
  background-image: url("../public/taverna.2.webp");
  filter: blur(20px) saturate(115%);
  -webkit-filter: blur(20px) saturate(115%);
  z-index:-100;
  height: 100vh;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  transform: scale(1.1);
}



.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #000000;
  padding: 10px 20px;
}


.logo {
  height: 60px;
  width: auto;
}

.title {
  font-size: 32px;
  margin: 0;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Hamburgaremeny */
.hamburger-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10;
}

.hamburger-menu span {
  display: block;
  height: 4px;
  background-color: #000000;
  border-radius: 2px;
  width: 100%;
  position: relative;
  top:.8vh;
  transition: 0.3s;
}

/* Sidomeny */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Börjar utanför skärmen */
  width: 250px;
  height: 100%;
  background-color: white;
  color: #000000;
  padding-top: 60px;
  transition: 0.3s;
  z-index: 9;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
  text-align: center;
}

.sidebar ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
}

/* Container för att hålla infoknappen och popup */
.info-container {
  position: sticky;
  top: 75%;
  left: 95%;
  display: inline-block;
}

/* Infobubbla-knappen */
.info-button {
  background-color: #cf3800;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

/* Popupens stil */
.popup {
  display: none; /* Dölj popup som standard */
  position: fixed;
  top: 20%;
  left: 40%;
  /*transform: translateX(-50%);*/
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;
  text-align: left;
  font-size: 20px;
}

/* Visa popup när den är aktiv */
.popup.active {
  display: block;
}

/* Aktiverad sidomeny */
.sidebar.active {
  left: 0; /* Sidomenyn flyttas in */
}






#menu-page-title {
  background-color: rgb(236, 236, 236);
  text-align: center;
  width: 90%;
  position: relative;
  top: 0vh;
  height: 15vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 0;
  border-radius: 8px;
  margin: 3vh auto;
}


#menu-page-title h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top:-3vh;
  letter-spacing: 6px;
  margin-bottom: 1.6vh;
}
#menu-page-title .menu-page-title-border {
  width:68vw;
  height: 3px;
  background-color: rgb(173, 98, 63);
}
#menu-page-title .menu-page-title-border p {
  font-size: clamp(0.75rem, 3.4vw, .9rem);
  margin-top: 2vh;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#menu-container {
  display: flex;
  flex-direction: column;
}
#menu-container .menu-card-first {
  border-top: 1px solid rgba(0, 0, 0, 0.637);
}
#menu-container .menu-card {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.43);
  background-color: white;
  padding: 2.2vh;
}
#menu-container .menu-card .menu-image {
  width: 150px;
  height: 120px;
  align-self: center;
  border-radius: 5px;
}
#menu-container .menu-card .menu-info {
  display: flex;
  flex-direction: column;
  padding: 1vh 0.5vh 1vh 4vh;
  gap: .7vh;
}
#menu-container .menu-card .menu-info h3 {
  font-family: "Chicle", serif;
  font-size: clamp(1.4rem, 3vh, 1.6rem);
  line-height: 3.4vh;
  letter-spacing: .8px;
  font-weight: 400;
  color:#cf3800;
}
.menu-info p {
margin-bottom:.3vh;
}
#menu-container .menu-card .menu-info p {
  color:rgb(55, 55, 55);
  font-size: 0.9rem;
  width: 80%;
}
#menu-container .menu-card .menu-info .menu-price {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#menu-container .menu-card .menu-info .menu-price .menu-add-item {
  font-size: 1rem;
  font-weight: 500;
  background: none;
  border: none;
  position: absolute;
  right: 3vw;
  margin-top: 1vh;
  padding: 1.5vh 3.3vh;
  border-radius: 8px;
  background-color: rgb(159, 80, 46);
  color: white;
  cursor: pointer;
}

#load-more {
  text-align: center;
  padding: 15px 0;
  font-weight: bold;
}

#view-order {
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-top:1px solid rgba(0, 0, 0, 0.501);
  background-color:#9c492b;
  color: white;
  height: 83px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: none;
  animation: viewOrderAnimation 0.4s forwards;
}
@keyframes viewOrderAnimation {
  0% {
    bottom: -10vh;
  }
  100% {
    bottom: 0;
  }
}

@keyframes viewOrderAnimationHide {
  0% {
    bottom: 0vh;
  }
  100% {
    bottom: -10vh;
  }
}
#view-order-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  background: none;
  color: white;
  border: none;
  font-size: clamp(1.2rem, 3vh, 1.35rem);
  letter-spacing: 1px;
  cursor: pointer;
}

#cart-overlay {
  z-index:100000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

#cart {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.hidden {
  display: none;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#place-order-button,
#close-cart {
  margin-top: 10px;
  background-color: #792f1e;
  color: white;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 3px;
}

/* Fullskärmsoverlay för varukorgen */
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #211515;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transform: translateY(100%);
  transition: transform 0.4s ease-in-out;
  margin-bottom:100vh;
}

.cart-overlay.active {
  transform: translateY(0);
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #9d9d9d;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.077);
  font-size: 1.2rem;
}

.cart-header .close-btn {
  background-color: #cf3800;
  color: white;
  border: none;
  font-size: 1.2rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.close-btn:active {
  background-color: #972e08;
}

.cart-content {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(117, 117, 117, 0.8274509804);
}

.cart-item img {
  width: 75px;
  height: auto;
  margin-right: 25px;
  margin-left: 10px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.093);
  background-color: #ddd; /* Placeholder */
  margin-bottom: 0.8vh;
}

.cart-item-details {
  flex: 1;
}

.cart-item-details h3 {
  font-size: clamp(14px, 2vh, 16px);
  font-weight: 600;
  margin-bottom: 0.8vh;
}

.cart-item-details p {
  font-size: clamp(15px, 2vh, 17px);
  font-weight: 500;
  color: #bbb;
}

.cart-quantity {
  display: flex;
  align-items: center;
  gap: clamp(5px, 1vh, 8px);
  font-size: clamp(15px, 2vh, 17px);
  font-weight: 600;
}

.quantity-number {
  padding: 0.3vh;
}

.cart-quantity button {
  background-color: rgba(96, 70, 63, 0.894);
  color: white;
  border: none;
  padding: clamp(3px, 2vh, 6px) clamp(5px, 2vh, 10px);
  cursor: pointer;
}

.cart-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5vh;
  gap: 8px;
}

.total-price-text {
  color: #cf3800;
  font-size: 1.9rem;
  letter-spacing: 1px;
  font-weight: 400;
}

#total-price {
  color: white;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#table-number {
  text-align: center;
  padding: 1.5vh;
  width: 60vw;
  border-radius: 10px;
  border: none;
  background-color: rgba(96, 70, 63, 0.361);
}

#table-number[placeholder] {
  font-size: clamp(1rem, 2vh, 1.2rem);
  margin-bottom: 7vh;
}
#table-number[placeholder]:focus {
  color: rgb(238, 238, 238);
}

#error-message {
  color: rgb(212, 97, 97);
  position: relative;
  font-size: 1rem;
  top: -6vh;
  visibility: hidden;
}

#your-order-button {
  font-size: clamp(1.1rem, 1.8vh, 1.3rem);
  font-weight: 500;
  letter-spacing: 1px;
  background: none;
  border: none;
  position: relative;
  margin-bottom:2vh;
  bottom: 3vh;
  width: 80vw;
  padding: 1.7vh 3.4vh;
  border-radius: 15px;
  background-color: #cf3800;
  color: white;
}
#your-order-button:active {
  cursor: pointer;
  background-color: #972e08;
}


.menu-add-item-choose {
  padding: 1vh 1.5vh;
  border-radius: 10px;
  background: none;
  border: 3px solid rgb(159, 80, 46);
  color: black;
  font-size: 1.2rem;
  position: absolute;
  right: 3vw;
}

.menu-quantity {
  display: flex;
  align-items: center;
  gap: clamp(5px, 1vh, 7px);
  font-size: clamp(13px, 2vh, 15px);
  font-weight: 600;
}

.menu-quantity-number {
  padding: 0.5vh;
}

.menu-quantity button {
  background-color: rgba(220, 220, 220, 0.8941176471);
  color: rgb(0, 0, 0);
  border: none;
  padding: clamp(1px, 2vh, 3px) clamp(3px, 2vh, 5px);
  cursor: pointer;
}
#nav-active {
  font-weight: 700;
  pointer-events: none;
}

#cart-order-success-popup {
  z-index: 1000000000000000000;
  width:90%;
  height:30vh;
  background-color: #ECECEC;
  position: fixed;
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 15px;
  display:none;
}

#cart-order-success-popup-overlay {
  z-index: 1000000;
  width:100%;
  height:100%;
  background-color: #1c1413cd;
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  display:none;
}
#cart-order-success-popup h3 {
font-size:clamp(1.1rem, 2.7vh, 1.4rem);
text-align: center;
margin-bottom:4.5vh;
line-height: 3.6vh;
}
.success-order-table-style {
  color:#cf3800;
}

#cart-order-success-popup button {
  font-size:clamp(.9rem, 2.7vh, 1.1rem);
  text-align: center;
  width:40vw;
  align-self: center;
  background:none;
  border:none;
  width: 50vw;
  padding: 1.5vh 2.4vh;
  border-radius: 15px;
  background-color: #9F502E;
  color: white;
  }


/*# sourceMappingURL=stylesSass.css.map */