@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$menuBackgroundColor: rgb(236, 236, 236);
$itemColor: white;
$primaryColor: #cf3800;
$activeColor: #8b2500;
