// Feedback style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin ratingSystem {
  width: 60vw;
  height: 15vh;
  padding: 10px;
  text-align: center;

  color: rgb(218, 184, 168);
  font-size: 40px;
  font-weight: 100;
}

body { // Style för hela body
background-image: url(background.jpg);
background-size: contain;


.rating { // hela "fönstret"
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  margin-left: 20px;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  width: 90vw;
  height: 90vh;

  border-radius: 10px;

  .tavernaLogoTyp { //logotypen
    width: 150px;
  }
  .thumbsUp { // tummen upp animationen
    display: none;
    position: absolute;

    rotate: 10deg;
    width: 40vw;

    top: 40px;
    left: 170px;

    animation: thumbsUpPulse 2.5s infinite ease-in-out;

    @keyframes thumbsUpPulse { //keyframes för att göra en animation
      0% {
        transform: scale(0.5);
        opacity: 1;
      }
      50% {
        transform: scale(0.8);
        opacity: 1;
      }
      100% {
        transform: scale(0.5);
        opacity: 1;
      }
    }
  }

  .rateH1 { // h1 elementet
    color: rgb(48, 33, 29);
    font-size: xx-large;
    font-weight: 100;
    font-family:  "Chicle", serif;
    font-style: normal;
  }

  .rateP { // p element
    color: rgb(48, 33, 29);
    font-size: larger;
  }

  .foodRate { //
    margin-top: 50px;
    @include ratingSystem();


    .food { //
      font-weight: 100;
      font-size: x-large;
      color: rgb(48, 33, 29);
    }
  }

  .restRate { //
    @include ratingSystem();


    .rest {
      font-weight: 100;
      font-size: x-large;
      color: #30211d;
    }
  }

  .stars {
    cursor: pointer;
  }

  .value {
    display: none;
  }
  .commentBox { //kommentarsfältet (container)
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .writeComment { // Kommentarfältet
      width: 80vw;
      height: 10vh;
      border-radius: 5px;
      border: none;

      font-size: medium;
      text-align: center;

      background-color: rgb(218, 184, 168);
    }

    .submitButton { //submitknappen 
      margin: 2vh;
      padding: 10px;

      color:  white;
      font-size: medium;
      font-weight: 700;
      background-color: #cf3800;

      border-radius: 5px;
      border: none;

      width: 30vw;
      height: 5vh;
    }
  }

  .welcomeBack {
    display: none;
    font-size: x-large;
    font-weight: 700;
    color: #30211d;
  }
}
}
