// Feedback style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin ratingSystem {
  width: 60vw;
  height: 15vh;
  padding: 10px;
  text-align: center;

  color: rgb(248, 246, 246);
  font-size: 40px;
  font-weight: 100;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  margin-left: 10px;
  margin-top: 50px;
  background-image: linear-gradient(
    100deg,
    rgb(199, 156, 142),
    rgb(162, 118, 103),
    rgba(121, 82, 73, 0.911)
  );
  width: 95vw;
  height: 90vh;

  border-radius: 5px;

  .thumbsUp {
    display: none;
    position: absolute;

    rotate: 10deg;
    width: 40vw;

    top: 100px;
    left: 160px;

    animation: thumbsUpPulse 1.5s infinite ease-in-out;

    @keyframes thumbsUpPulse {
      0% {
        transform: scale(0.5);
        opacity: 1;
      }
      50% {
        transform: scale(0.8);
        opacity: 1;
      }
      100% {
        transform: scale(0.5);
        opacity: 1;
      }
    }
  }

  .rateH1 {
    color: rgb(48, 33, 29);
    font-size: x-large;
    font-weight: 700;
  }

  .rateP {
    color: rgb(48, 33, 29);
    font-size: larger;
  }

  .foodRate {
    margin-top: 50px;
    @include ratingSystem();


    .food {
      font-weight: 100;
      font-size: large;
      color: rgb(48, 33, 29);
    }
  }

  .restRate {
    @include ratingSystem();


    .rest {
      font-weight: 100;
      font-size: large;
      color: #30211d;
    }
  }

  .stars {
    cursor: pointer;
  }

  .selectedStar {
    color: gold;
  }

  .value {
    display: none;
  }
  .commentBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .writeComment {
      width: 80vw;
      height: 10vh;
      border-radius: 5px;
      border: none;

      font-size: medium;
      text-align: center;
    }

    .submitButton {
      margin: 2vh;
      padding: 10px;

      color: white;
      font-size: medium;
      background-color: #cf3800;

      border-radius: 5px;
      border: none;

      width: 30vw;
      height: 5vh;
    }
  }

  .welcomeBack {
    display: none;
    font-size: x-large;
    font-weight: 700;
    color: #30211d;
  }
}
