@import "variable";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;;
}

#menu-main {
  background-color: rgb(236, 236, 236);
}
#menu-page-title {
  text-align: center;
  width:100%;
  position: relative;
  top:3vh;
  height:25vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding:0;
  margin:0;
  h2 {
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 6px;
    margin-bottom: 1.8vh;
  }

  .menu-page-title-border {
    width:78vw;
    height:3px;
    background-color: $primaryColor;
    p {
      font-size: clamp(.9rem, 4vw, 1.1rem);
      margin-top:2vh;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

// Menu card
#menu-card-container {
  display: flex;
  flex-direction:column;
  
  .menu-card-first{
    border-top: 1px solid rgba(0, 0, 0, 0.637); 
  }
  .menu-card {
    display: flex;
    flex-direction: row; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.43); 
    background-color: white;
    padding:2.2vh;
  .menu-image {
    width: 150px;
    height: 120px;
    // Placeholder color for the image
    align-self: center;
    border-radius: 5px;
  }
  .menu-info-container {
    display: flex;
    flex-direction: column;
    padding: 1vh 0.5vh 1vh 4vh;
    gap: 1vh;
    .menu-title {
      font-size: 1.2rem;
      font-weight: 600;
    }
    .menu-desc {
      font-size: .9rem;
      width: 80%;
    }
    .menu-price {
      font-size: 1.3rem;
      font-weight: 600;
      margin-top: 1vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   
    .menu-add-item {
      font-size: 1rem;
      font-weight: 500;
      background: none;
      border: none;
      position: absolute;
      right:3vw;
      padding: 1.5vh 3.3vh;
      border-radius: 8px;
      background-color: $primaryColor;
      color: white;
      &:active {
        cursor: pointer;
        background-color: $activeColor;
      }
    }
    }
  }
  }
}

#cart-container {
  z-index:2;
  position: fixed;
  bottom:0;
  background-color: $primaryColor;
  height:9vh;
  width:100%;
  color:white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.034);
  &:active {
    background-color: $activeColor;
  }
  h2 {
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  #cart-items {
    position: absolute;
    font-weight: 600;
    right:10vw;
    font-size: 1.7rem;
  }
}


#your-order-overlay {
  overflow: scroll;
  z-index:3;
  background-color: rgb(22, 22, 22);
  width:100%;
  height:60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom:0;
    display:none;
    padding-top: 10vh;

    @keyframes yourOrderLowerAnimation{
      0% {bottom:-65vh;}
      100% {bottom:0vh;}
    }
    @keyframes yourOrderLowerCloseAnimation{
      0% {bottom:0vh;}
      100% {bottom:-65vh;}
    }
  
    #close-your-order-overlay {
      color:white;
      font-size: 2.2rem;
      font-weight: 500;
      position: absolute;
      right:2vh;
      top:.5vh;
      &:active {
        color:grey;
      }
    }




    #menu-item-preview-lower {
      border-bottom:1px solid white;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      width:70%;
      color:white;
      position: relative;
      padding:2vh 0vh;
      opacity: 0%;
      animation:fadeInLowerMenuItem .4s forwards;
      animation-delay: .5s;
      @keyframes fadeInLowerMenuItem {
        0% {opacity:0%;}
        100% {opacity:100%;}
      }
    }
    #menu-item-preview-title {
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      #menu-item-preview-price {
        margin-top:.8vh;
        font-size:1.1rem;
      }
      #menu-item-preview-quanity {
        align-self: flex-end;
      }
    }



  .total-price-text {
    color:$primaryColor;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2vh;
  }  
  #total-price {
    color:white;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 5vh;
    margin-bottom: 2vh;
  }  
#table-number {
  text-align: center;
  padding:1.5vh;
  width:60vw;
  border-radius: 10px;
  border:none;
  background-color: rgba(128, 128, 128, 0.272);
}
#table-number[placeholder] {
 font-size: 1.2rem;
 margin-bottom:7vh;

 &:focus {
  color:rgb(238, 238, 238);
 }
}
#error-message {
  color: rgb(212, 97, 97);
  position: relative;
  font-size: 1rem;
  top:-5.7vh;
  display:none;
}


  #your-order-button {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    background: none;
    border: none;
    bottom:5vh;
    margin-bottom:3vh;
    width:80vw;
    padding: 1.7vh 3.3vh;
    border-radius: 15px;
    background-color: $primaryColor;
    color: white;
    &:active {
      cursor: pointer;
      background-color: $activeColor;
    }
}

}

